
html,body{
    
    height:100%;
    width:100%;
    overflow-x: hidden;
    
    background-color:rgb(255, 249, 234) !important;
    
}

.container{
    width:100%;
}

* {
    margin: 0;
    padding: 0;
}

/*
.show{
    border:1px solid red;

}

.blue{
    border:1px solid blue;
}

*/


.mycards{
    color:white;
    z-index:101;
}

.hide{
    display:none;
}

.aboutcolor{
    background-color:rgb(255, 249, 234) !important;
}



.all{
    margin-top:20px;
}

.aboutme{
    
    border: 1px solid transparent;
    margin-top:28px;
}


/*
.show{
    border:1px solid red;
}

.blue{
    border:1px solid blue;
}
*/




.mytitle{
    transform:translateY(2px);
}

.mylogo{
    filter: grayscale(100%);
    opacity:0.8;
}




.card-img-wrap {
    overflow: hidden;
    position: relative;
    width:100%;
    height:100%;
    z-index:100;
}







.pad-card{
    margin-top: 20px;
}

.pad-about{
    margin-top:-13px;
}

/*
.margin{
    margin-top: 200px;
}
*/


@media screen and (min-device-width: 1400px) {

  .pad-card{
      margin-top:150px;
  }



}

.do{
    border:1px solid red;
}
.desktop{
    display:none !important;
}
.second_card{
    padding-top:5px;
}

@media screen and (min-width: 990px) and (max-width:1200px){

    .mycards{
        
        font-size:25px;
    }
}

@media screen and (min-width: 765px) and (max-width:990px){

    .mycards{
        
        font-size:2.5vw;
    }
}

@media screen and (min-width: 480px) and (max-width:767px){

    .pad-card{
        margin-top:-40px;
    }
}


@media screen and (min-device-width: 480px) {

   
    .mylogo:hover{
        filter:grayscale(20%);
        opacity:1;
        transition: 0.5s;
    }

    .card-img-wrap:hover img{
        transform:scale(1.1);
        transition: 2s ease;
    }

    

    .mycard:hover{
        -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.3);
        box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.3);
        filter:grayscale(100%);
        
        transition:0.5s ease;
        
    }
    

    
    .mobile-nav{
        display:none !important;
    }
    .desktop{
        display:unset !important;
    }
    
    .all{
        margin-top:60px;
    }
    .pad-about{
        margin-top:13px;
    }

    .second_card{
        padding-top:unset;
    }
    
    
  
}
@media screen and (max-device-width: 436px) {

    .mycards{
        
        font-size:8vw;
    }
    .mobile_title{
        font-size:5vw;
    }
}



