
html,body{
    height:100%;
    width:100%;
    overflow-x: hidden;
    background-color:rgb(255, 249, 234) !important;
    

}

* {
    margin: 0;
    padding: 0;
}

.move{
    margin-top:-70px;
}



#plus{
    font-size:40px;
    cursor:pointer;
    height:25px;
    z-index:105;
    
}


.in{
    display:inline-block;
}
.red{
    border:1px solid red;
    border:1px solid transparent;
}
.mycards{
    /* background-color:rgb(255, 255, 255) !important;  */
    /* background-color:rgba(202, 150, 54, 0.185) !important; */
    background-color:rgba(158, 154, 145, 0.185) !important;

    /* height:50px; */
    
    border-radius:2px !important;
    border:none !important;
    border:.25px solid transparent !important;
    
    
}
.mycards:hover{
    /* background-color:rgba(170, 228, 233, 0.692) !important; */
    -webkit-box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.3);
    /* box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.3); */
    cursor:pointer;
    /*background-color:rgb(250, 232, 188) !important; */
    /* border:.25px solid gray !important; */
    
    
    transition:0.2s ease;
    
}

#plus:hover{
    /*
    transform:rotate(90deg);
    transform-origin:center;
    transition: 0.2s ease;
    */
}

.bottom{
    margin-top:-30px;
}

.meh{
    border:1px solid green;
    left:0;
}

.show{
    border:1px solid red;
}
.blue{
    border:1px solid blue;
    
}

.filter{
    cursor:pointer;
    z-index:10;
}
.circle{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  position:fixed;
  bottom:30px;
  right:40px;
  cursor:pointer;
  z-index:1000;
}
.bulbfoot{
    position:relative;
    right:10px;
    top:10px;
    
    
    
    
}



.sidebar{
    
    height:600px;
    width:15vw;
    background-color:red;
    opacity:0.5;
    position:fixed;
    margin-left:4vw;
    z-index:300;

}

.mytitle{
    font-size:1.5em;
}
.mylogo{
    width:60px;
    height:60px;
}


.post_title{
    font-style:bold;
}

p{
    padding-left:10px;
    padding-right:10px;
    text-align:justify;
    
}


.mymovelogo{
    margin-top:-150px;
    z-index:-1000;
}
.stick{
    position:unset;
    top:unset;

}

.month{
    
    font-size:50px;
    
}

.line{
    margin-top:-25px;
}
::selection {
    background: rgb(200, 158, 81); /* WebKit/Blink Browsers */
    color:white;
    font-style:bold;
}

p::-moz-selection {
    background: rgb(155, 155, 155); /* Gecko Browsers */
}

.mydate{
    margin-top:-10px;
}
.do{
    border:1px solid transparent;
    
}
.subtitle{
    margin-top:10px;
    font-size:18px;
    transform:translate(8px,4px);
    
    
    font-style:italic;
    
}

.mylogo{
    filter:grayscale(100%);
    opacity:0.7;

}

.mylogo:hover{
    filter:grayscale(20%);
    transition: 0.5s ease;
    opacity:1;
    
}

a{
    text-decoration:none;
}

@media only screen and (min-width:992px) and (max-width: 1100px) {
   

    .subtitle{
        transform:translate(-63px,40px) rotate(90deg);
        transform-origin: bottom left;
    }
}


@media only screen and (min-width:660px){
    .stick{
        position:sticky !important;
        top:0;
    
    }

}
@media only screen and (min-width:660px) and (max-width: 930px) {
   

    .subtitle{
        transform:translate(-63px,40px) rotate(90deg);
        transform-origin: bottom left;
    }
}