
html,body{
    height:100%;
    width:100%;
    overflow-x: hidden;
    background-color:rgb(255, 249, 234) !important;
    
}

* {
    margin: 0;
    padding: 0;
}

.move{
    margin-top:-70px;
}

#plus{
    font-size:40px;
    cursor:pointer;
    height:25px;
    z-index:105;
}

#plus:hover{
    /*
    transform:rotate(90deg);
    transform-origin:center;
    transition: 0.2s ease;
    */
}

.bottom{
    margin-top:-30px;
}

.meh{
    border:1px solid green;
    left:0;
}

.show{
    border:1px solid red;
}
.blue{
    border:1px solid blue;
    
}

.filter{
    cursor:pointer;
}



.sidebar{
    
    height:600px;
    width:15vw;
    background-color:red;
    opacity:0.5;
    position:fixed;
    margin-left:4vw;
    z-index:300;

}

.mytitle{
    font-size:1.5em;
}
.mylogo{
    width:60px;
    height:60px;
}


.post_title{
    font-style:bold;
}

p{
    padding-left:10px;
    padding-right:10px;
    text-align:justify;
    
}



::selection {
    background: rgb(200, 158, 81); /* WebKit/Blink Browsers */
    color:white;
    font-style:bold;
}

p::-moz-selection {
    background: rgb(155, 155, 155); /* Gecko Browsers */
}

.mydate{
    margin-top:-10px;
}
.do{
    border:1px solid transparent;
    
}
.subtitle{
    margin-top:10px;
    font-size:18px;
    transform:translate(8px,4px);
    
    
    font-style:italic;
    
}

.mylogo{
    filter:grayscale(100%);
    opacity:0.7;

}

.mylogo:hover{
    filter:grayscale(20%);
    transition: 0.5s ease;
    opacity:1;
    
}

a{
    text-decoration:none;
}

@media only screen and (min-width:992px) and (max-width: 1100px) {
   

    .subtitle{
        transform:translate(-63px,40px) rotate(90deg);
        transform-origin: bottom left;
    }
}

@media only screen and (min-width:660px) and (max-width: 930px) {
   

    .subtitle{
        transform:translate(-63px,40px) rotate(90deg);
        transform-origin: bottom left;
    }
}